[Oo]bj/
src/**/[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.cache
*.suo
*.userprefs
*DS_Store
*.sln.ide
/.vs
/target
/node_modules
temp/
gulp-user-config.js
dist
src/staticsite/dist
bower_components
C:\\Websites\\FOS.Website\\Website/

