<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <synthesis>
      <providers>
        <moduleProvider>
          <modules>
            <module name="Settings" moduleType="Foundation" project="Valtech.Foundation.Settings"/>
          </modules>
        </moduleProvider>
      </providers>
    </synthesis>
  </sitecore>
</configuration>