
.breadcrumbs {
    @include container();

    ol {
        list-style: none;
        margin: $space 0;
        padding: 0 $space-double;
        @include span(12);
    }

    li {
        display: inline-block;
        color: $color-black-40;
        line-height: 0;

        &::before {
            display: none;
        }
        &:after {
            content: "";
            background-image: url('/assets/images/icon_arrow-round.svg');
            transform: rotate(180deg);
            background-size: $icon-size-small $icon-size-small;
            background-repeat: no-repeat;
            height: $icon-size-small;
            width: $icon-size-small;
            display: inline-block;
            margin: 0 $space 0 $space-double;
            vertical-align: middle;

        }
    }

    a {
        color: $color-black-40;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
