/**
* Components
*
* @section Setup
* @author Veronika Jeppsson
*/
$hero-height-mini: rem(6 * $base-height);         //280px
$hero-height-small: rem(9 * $base-height);        //360px
$hero-height-medium: rem(12 * $base-height);       //480px

.hero {
    // APPROACH WITH IMG & OBJECT-FIT (OBS, uses polyfill for non supported browsers (IE)
    // wich makes the image as a background with cover

    position: relative;
    overflow: hidden;
    height: 30em;

    @include xlarge-up {
        height: 32em;
    }
    @include xxlarge-up {
        height: 40em;
    }

    /* USED ON HERO PAGE */
    &__img {
        position: fixed;
        width: 100%;
        overflow: hidden;
        height: 30em;
        z-index: -1;

        @include xlarge-up {
            height: 32em;
        }
        @include xxlarge-up {
            height: 40em;
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        // This is in order to make object-fit cover work in IE
        font-family: "object-fit: cover; object-position: top";
    }

    &__container {
        position: absolute;
        top: 0em;
        width: 100%;
        height: 100%;
        display: table;
        text-align: center;
        background: linear-gradient(to bottom,  $color-dim-50 ,  $color-dim-00 50%, $color-dim-50);
    }

    &__content {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-bottom: $space-quad;
        color: $color-white;
        text-shadow: 0 $border-med 25px $color-dim-30;

        @include medium-up {
            padding-bottom: $space-quad*2;
        }

        h2 {
            margin-bottom: 0;
        }
    }

    /* USED ON HEROS WITH ONLY AN IMAGE AND SMALLER HEIGHT */
    &--small {
        height: $hero-height-mini;

        .hero_img {
            height: $hero-height-mini;
        }
        .hero__content {
            padding-bottom: $space-double;
        }
        .hero__container {
            background: linear-gradient($color-dim-50 0%, $color-dim-00 100%);
        }
        @include small-up {
            height: $hero-height-small;

            .hero_img {
                height: $hero-height-small;
            }
        }
        @include xxlarge-up {
            height: $hero-height-medium;

            .hero_img {
                height: $hero-height-medium;
            }
        }
    }

    /* USED ON TRAINING CENTER PAGE */
    &--overlay {
        overflow: visible;
        word-wrap: break-word;
        h1 {
            margin-bottom: 0;
            text-align: center;
        }
        .address {
            color: $color-white;
            text-align: center;
        }
        .hero__container {
            text-align: left;
            background: rgba($color-black-90, 0.3)
        }
    }
    /* USED ON TRAINING CENTER PAGE  --- possibly use for new section with opening hours*/
    // &__infobox {
    //     background-color: $color-white;
    //     padding: 0 0 $space 0;
    //     list-style-type: none;
    //     box-shadow: 0 0 1px $color-dim-30;

    //     li {
    //         position: relative;

    //         &:first-of-type {
    //             border-bottom: 1px solid $color-black-20;
    //             font-weight: 700;
    //             margin-bottom: $space;

    //             a:after {
    //                 content: "";
    //                 background-repeat: no-repeat;
    //                 background-size: contain;
    //                 margin: 0 $space-half 0 0;
    //                 height: $icon-size-small;
    //                 width: $icon-size-small;
    //                 background-image: url('/assets/images/icon_arrow-right-red.svg');
    //                 position: absolute;
    //                 top: $space-double + $space-half;
    //                 @include transition(margin-right, 0.35s);
    //                 right: 0;

    //                 @include medium-up {
    //                     right: $space;
    //                 }
    //             }
    //             a:hover {
    //                 &:after {
    //                     margin-right: 0;
    //                     @include transition(margin-right, 0.35s);
    //                 }
    //             }
    //         }

    //         &:nth-of-type(2), &:last-of-type {
    //             a {
    //                 color: $color-text;
    //                 padding-bottom: $space;
    //                 padding-top: $space;
    //                 word-break: break-all;
    //             }
    //         }
    //         a {
    //             text-shadow: none;
    //             text-decoration: none;
    //             padding: $space-double $space $space-double ($space-quad + $space);
    //             display: block;
    //             word-wrap:break-word;
    //             overflow: hidden;

    //             @include medium-up {
    //                 padding-left: ($space-quad + $space-double);
    //             }
    //         }
    //     }
    // }
}
