$image-skew: 5deg;
$image-translateY: 7.75%;

.image {
	display: block;

	position: relative;

	overflow: hidden;

	img {
		display: block;
		width: 100%;
    	height: auto;
	}

	&__skew {
		overflow: hidden;
	}

	&--top-left {
		.image {
			&__skew {
				transform: skewY(-$image-skew) translateY($image-translateY);

				img {
					transform: skewY($image-skew) translateY(-$image-translateY);
				}
			}
		}
	}
	

	&--top-right {
		.image {
			&__skew {
				transform: skewY($image-skew) translateY($image-translateY);
				
				img {
					transform: skewY(-$image-skew) translateY(-$image-translateY);
				}
			}
		}
	}

	&--bottom-left {
		.image {
			&__skew {
				transform: skewY($image-skew) translateY(-$image-translateY);
				
				img {
					transform: skewY(-$image-skew) translateY($image-translateY);
				}
			}
		}
	}

	&--bottom-right {
		.image {
			&__skew {
				transform: skewY(-$image-skew) translateY(-$image-translateY);
				
				img {
					transform: skewY($image-skew) translateY($image-translateY);
				}
			}
		}
	}
}


/* Friskis*/

img {
    max-width: 100%;
    height: auto;
}

.image--wide {
    width: 100%;
}