$map-height: rem($base-height*12);

#map {
    height: 100%;
    min-height: $map-height;
}
.map--overlay {
    position: relative;

    &:before{
        content: "";
        display: block;
        height: $base-height;
        background: linear-gradient($color-dim-30, $color-dim-00);
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

}
.map__container {
    position: relative;
}

.map--intro {
    height: $base-height*4;
    background-image: url('/assets/images/background-map.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    box-shadow: inset 0 5px 5px -5px rgba(0,0,0,0.8);

    &:before {
        display: block;
        content: "";
        height: 56px;
        background: url('/assets/images/icon_pin-map.svg');
        background-position: center $space;
        background-repeat: no-repeat;
        background-size: 46px 46px;
    }
    h3 {
        vertical-align: middle;
        display: inline-block;
        text-transform: uppercase;
        max-width: 50%;

        @include small-up {
            max-width: none;
        }

    }
}

.map__infowindow {
    a {
        font-size: rem(18px);
        font-weight: 700;
        line-height: 1.25em;
    }

    p {
        margin-bottom: 0;
    }
}
.map__content {
    @include container();

    @include medium-up {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        z-index: 2;
    }
}

.map__list {
    @include medium-up {
        @include span(6);
        text-align: left;
        min-height: $map-height;
        background-color: rgba(255,255,255,0.75); // TODO Variable with opacity
        pointer-events: auto;
    }
    > h3 {
        margin: $space-double;
        font-size: rem(16px);
        text-transform: uppercase;
        text-shadow: 2px 1px 3px $color-white;

        &:before {
            content: "";
            display: inline-block;
            width: 46px;
            height: 46px;
            margin-right: $space;
            vertical-align: middle;

            background: url('/assets/images/icon_map.svg') repeat;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 46px 46px;
        }
    }
    > ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        > li {
            @include container();
            background-color: $color-white;
            margin-top: $space;
            padding: $space-double;

            > a {
                @include span(8);
                text-decoration: none;

                &:hover {
                    > h4 {
                        text-decoration: underline;
                    }
                }
                > h4 {
                    margin: 0;
                }
                > .address {
                    margin-bottom: 0;
                    color: $color-text;
                    text-decoration: none;

                    //TODO: Remove only add icon when needed
                    &:before {
                        display: none;
                    }
                }
            }

            > button {
                @include span(4);
                color: $color-text-link;
                background-color: transparent;
                border: none;
                float: right;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

/* TODO: Change approach so that this is applied to all that has 1 element in the list 
    - and not the first element always (even though there is more elements in the list) 
*/
.trainingcenter-page {
    .map__item--large {
        min-height: rem($base-height*4);
        position: relative;


        @include medium-up {
            min-height: rem($base-height*6);
        }

        //TODO: Remove only add icon when needed
        .address:before {
            display: inline-block;
        }
        > button {
            position: absolute;
            bottom: $space-quad;
            right: 0;
        }
        > a > h4 {
            color: $color-text;
            /* TODO: Style as h2 -- do in another way - with a class*/
            font-size: rem(22px);

            @include small-up {
                font-size: rem(42px);
            }

            @include medium-up {
                font-size: rem(48px);
                line-height: rem(58px);
            }

        }
    }
}

.map__btn {
    background: none;
    border: none;
    text-transform: uppercase;
    margin-top: $space;

    &:before {
        content: "";
        display: inline-block;
        width: 46px;
        height: 46px;
        margin: 0 $space $space 0;
        vertical-align: middle;

        background-image: url('/assets/images/icon_add.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 46px 46px;
    }
    &.open {
        &:before {
            background-image: url('/assets/images/icon_delete.svg');
        }
    }
}