// TODO: Refactor this file

$menu-height: 6em;

.navigation {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: $menu-height;

    @include large-up {
        display: block;
    }

    &__container {
        width: 100%;
        position: fixed;
        z-index: 1000000;
        height: $menu-height;

        &.scroll {
            background: $color-dim-50;
        }

        @include large-up {
            &.open {
                background: $primary-color-98 !important;
            }
        }
    }

    &__logo {
        width: $menu-height;
        height: $menu-height;
        padding: $space;
    }
    &__btn {
        color: $white;
        font-weight: 700;
        border: none;
        background: transparent;

        @include large-up {
            outline: none;
            height: 100%;
            width: 100%;

            &:hover {
                text-decoration: underline;
            }
            &:active {
                text-decoration: underline;
            }
        }

        &--close {
            display: none;
            padding: 0 $space;;
            z-index: 10000;
            position: fixed; //TODO Look into other solution - fixed in fixed not good
            top: $space-double;
            right: $space;
            color: $white;
        }
    }

    &__list {
        width: 100%;
        height: 100%;
        background-color: $primary-color-98;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;

        padding-top: 5em;

        @include large-up {
            display: block !important;
            left: auto;
            width: auto;
            height: auto;
            background-color: transparent;
            padding-top: 0;
            width: 100%;
        }
    }

    &__item {
        text-align: center;
        width: 100%;
        vertical-align: top;

        @include large-up {
            width: 8em;
            height: $menu-height;
            display: inline-block;
        }

        &.hide {
            display: none;

            @include large-up {
                display: inline-block;
            }
        }
        a {
            display: block;
            color: $white;
            text-decoration: none;
            height: 100%;
            padding: $space;

            @include large-up {
                font-weight: 700;
                padding-top: 2.5em;
                line-height: 1;
            }
        }
        > a {
            @include large-up {

                &:hover {
                    color: $color-text-link;
                }
                &:active {
                    color: $color-text-link;
                    text-decoration: underline;
                }
            }
        }
        &:first-of-type {
            > a {
                padding-top: 0;
            }
        }
        button {
            outline: none;
            padding: $space;
            width: 100%;
        }
         @include large-up {
            &:last-of-type {
                width: 12em;
                padding-top: 2em;

                > a {
                    display: inline;
                }
            }
        }
        ul {
            display: none;
            height: 100%;
            padding: 0;
            text-align: center;
            list-style-type: none;

            @include large-up {
                &.open {
                    position: fixed;
                    background-color: $primary-color-98;
                    top: $menu-height;
                    width: 100%;
                    left: 0;
                    z-index: 9;
                }
            }
            a {
                color: $white;
            }
        }
    }

    // This version is only visible on smaller screens than large
    &--medium {
        position: fixed;
        z-index: 2;
        display: block;
        width: 100%;
        top: 0;
        left: 0;
        @include container();

        > li {
            height: 100%;

            a {
                text-decoration: none;
            }
        }
        li:first-of-type {
            position: absolute;
            top: 0;
            left: 0;
            padding-left: $space-double;
        }
        li:last-of-type {
            width: 75%;
            text-align: right;
            float: right;

            .navigation__btn {
                padding-top: $space-double;
                padding-right: $space-double;
            }
            .btn--book {
                margin-top: $space-double;
                display: inline-block;
                vertical-align: top;
            }

        }
    }
}
[data-js-menu-more] {
    &:after {
        content: "";
        background-image: url('/assets/images/icon_arrow.svg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        vertical-align: middle;
        width: rem(16px);
        height: rem(16px);
        margin-left: $space;
        -webkit-transition: all 300ms 0s ease-in-out;
        transition: all 300ms 0s ease-in-out;
    }
    &.open {
        font-weight: 700;

        &:after {
            transform: rotate(180deg);
        }
    }
}