/**
* Components
*
* @section Setup
* @author Veronika Jeppsson
*/

.rich-text {
    min-height: $space-quad;
    overflow: hidden;
    min-height: $space-quad;
    max-width: $text-max-width;
    margin: 0 0 $space-double 0;

    @include medium-up {
        padding: 0 $space-quad;
        margin: 0 auto $space-double auto;
    }

    h2, h3, h4 {
        margin-bottom: 0.25em !important;
    }

    p {
        margin-bottom: $space !important;
    }
}
