/**
* Components
*
* @section Setup
* @author Veronika Jeppsson
*/

.rich-text {
    overflow: hidden;
    max-width: 35em;
    margin: $space-double $space;

    /*&--centered {
        margin: 0 auto;
    }*/
}
/* TODO: Remove this and include a class if added to a specific placeholder*/
.container--12 {
    .rich-text {
        margin: 0 auto;
    }
}