/**
* Components
*
* @section Setup
* @author Veronika Jeppsson
*/

$base-height: 36px;
$teaser-height: rem(3 * $base-height);
$teaser-height-small: rem(5 * $base-height);
$teaser-height-medium: rem(7 * $base-height);
$teaser-height-large: rem(10 * $base-height);

.teaser {
    overflow: hidden;
    text-align: center;
    padding: $space-half 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.00);
    transform: scale(1.00);

    &:hover {
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(1.015);
        transform: scale(1.015);
    }

    @include small-up {
        padding: $space;
    }

    a {
        text-decoration: none;
    }

    h2 {
        color: $color-text;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        // This is in order to make object-fit cover work in IE
        font-family: "object-fit: cover; object-position: top";
        height: $teaser-height-small;

        @include medium-up {
            height: $teaser-height-medium;
        }
    }

    /*--------------OVERLAY TEASER --------------*/
    &--overlay {
        position: relative; // Should ot be possible to have an overlay without a link?
        overflow: hidden;
        height: $teaser-height;

        @include small-up {
            height: $teaser-height-small;
        }

        @include medium-up {
            height: $teaser-height-medium;
        }

        h2 {
            color: $color-white;
            margin: $space 0;
            line-height: 1.25;

            @include small-up {
                font-size: 1.25rem;
            }
            @include medium-up {
                font-size: 2rem;
            }
            @include large-up {
                font-size: 2.5rem;
            }
        }

        img {
            filter: blur(2px);
        }

        > .teaser__overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: table;
            width: 100%;
            height: 100%;
            background: rgba(221,82,94,0.9);
            transition: background 0.35s, transform 0.35s;
            -webkit-transition: background 0.35s, -webkit-transform 0.35s;

            &:hover {
                background: $primary-color-dim-80;
                transition: background 0.35s, transform 0.35s;
                -webkit-transition: background 0.35s, -webkit-transform 0.35s;
            }

            > .teaser__content {
                display: table-cell;
                vertical-align: middle;
                color: $color-white;
                padding: 0 $space-double;

                @include medium-up {
                    padding: 0 $space-quad;
                }
            }
        }
    }

    &--enhanced {
        height: $teaser-height-small;

        @include small-up {
            height: $teaser-height-medium;
        }

        @include medium-up {
            height: $teaser-height-large;
        }

        img {
            height: $teaser-height-small;

            @include small-up {
                height: $teaser-height-medium;
            }

            @include medium-up {
                height: $teaser-height-large;
            }
        }
    }

    /*----------------- Full width teaser -----------------*/

    &--full {
        @include medium-up {
            max-height: $teaser-height-large;
        }
        img {
            @include span(12);

            @include small-up {
                @include span(6);
                float: none;
                margin: 0 auto;
            }

            @include medium-up {
                @include span(6);
            }
        }
        .teaser__content {
            padding: 0 $space-double;
            text-align: left;
            @include span(12);

            @include medium-up {
                @include span(6);
            }
            p {
                color: $color-text;
            }
        }
    }

    /*----------------- List of teaser elements -----------------*/
    &__list {
        text-align: left;
        padding: 0;

        &:hover{
            transform: scale(1.00);
        }
        li {
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: scale(1.00);
            transform: scale(1.00);

            &:hover {
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
                -webkit-transform: scale(1.015);
                transform: scale(1.015);
            }
        }

        h3 {
            margin: 0;
        }

        .date {
            color: $color-black-60;
            margin-bottom: 0;
        }
        .teaser__content {
            color: $color-black;
            padding: $space;
        }
    }
}
