/**
* Components
*
* @section Setup
* @author Veronika Jeppsson
*/

.teaser {
    overflow: hidden;
    text-align: center;
    padding: $space-half 0;

    @include small-up {
        padding: $space;
    }

    // Look into other image effects since this is expensive
    img {
        width: 100%;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(1.00);
        transform: scale(1.00);

        &:hover {
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
        }
    }
    a {
        text-decoration: none;
    }
    h2 {
        color: $color-text;
    }

    &--overlay {
        position: relative; // Should ot be possible to have an overlay without a link?
        max-height: 8em;
        overflow: hidden;

        @include small-up {
            max-height: 12em;
        }

        @include medium-up {
            max-height: none;
        }

        h2 {
            color: $color-white;
            margin: $space 0;
            line-height: 1.25;

            @include small-up {
                font-size: 1.25rem;
            }
            @include medium-up {
                font-size: 2rem;
            }
            @include large-up {
                font-size: 2.5rem;
            }
        }
        img {
            filter: blur(2px);
        }

        > .teaser__content {
            padding: $space-double;
            color: $color-white;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(221,82,94,0.9);
            transition: background 0.35s, transform 0.35s;
            -webkit-transition: background 0.35s, -webkit-transform 0.35s;

            @include large-up {
                padding: $space-quad*1.5 $space-quad;
            }
            &:hover {
                background: rgba(221,82,94,0.6);
                transition: background 0.35s, transform 0.35s;
                -webkit-transition: background 0.35s, -webkit-transform 0.35s;
            }
        }
    }
    &--full {
        img {
            @include span(12);

            @include small-up {
                @include span(6);
            }
        }
        .teaser__content {
            @include span(12);
            @include small-up {
                @include span(6);
            }
            padding: 0 $space-double;
            text-align: left;

           @include large-up {
                padding: $space-quad;
           }
            p {
                color: $color-text;
            }
        }
    }
    &__list {
        text-align: left;
        padding: 0;

        li {
            @include container;
        }
        h3 {
            margin: 0;
        }

        .date {
            color: $color-black-30;
            margin-bottom: 0;
        }
        .teaser__content {
            @include span(12);
            color: $color-black;
            padding: $space;

            @include medium-up {
                @include span(6);
            }
        }
    }
}
