/**
* Components
*
* @section Setup
* @author Veronika Jeppsson
*/
$media-container-height: rem(9 * $base-height);        //360px

.media-container {
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: $space-double;

    &.media-container--360 {
        height: $media-container-height !important;
        padding-bottom: $media-container-height; /* 16:9 ratio */
        overflow: hidden;
    }

    &.media-container--16x9 {
        height: 0 !important;
        padding-bottom: 56.25%; /* 16:9 ratio */
        overflow: hidden;
    }

    > .media-container__media {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;

        &--cover {
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
            font-family: "object-fit: cover; object-position: center";
        }
    }
}
.media-container__video {
    cursor: pointer;
}

.media-container__control {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    margin: 0;
    background:	$color-dim-30;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );

    &:before {
        box-shadow: 0 0 25px 0 $color-dim-30;
        margin: 0;
        border-radius: 50%;
   }
}