/*.btn {
	display: inline-block;
	padding: 12px 60px;

	background-color: $primary-color-1;

	text-transform: uppercase;
	text-align: center;
	line-height: rem(24px);
	font-size: rem(16px);
	font-family: $font-sans-serif;
	text-decoration: none;
	color: $font-color-1;

	border: 2px solid $primary-color-1;
	border-radius: 25px;

	outline: none;

	position: relative;

	transition: all 0.1s linear;

	&:after {
		content: ' ';
		display: block;
		width: 24px;
		height: 24px;

		border-radius: 50%;

		background-color: $primary-color-1;

		position: absolute;
		right: 12px;
		top: 10px;
	}

	&:focus,
	&:active,
	&:hover {
		outline: none;
	}

	&:hover {
		border-color: $font-color-1;
		background-color: $font-color-1;
		color: $primary-color-1;
	}

	&--discreet {
		background-color: $white;

		&:after {
			background-color: $white;
		}

		&:hover {
			background-color: $white;
			color: $secondary-color-1;

			&:after {
				background-color: $primary-color-1;
			}
		}
	}

	&--significant {
		background-color: $secondary-color-1;
		border-color: $secondary-color-1;
		color: $primary-color-1;

		&:hover {
			background-color: $primary-color-1;
			border-color: $primary-color-1;
			color: $secondary-color-1;
		}
	}

	&--icon {
		display: block;
		padding: 0;
		width: 40px;
		height: 40px;

		border: none;

		&:after {
			content: '+';
			width: 40px;
			height: 40px;

			text-align: center;
			line-height: rem(42px);
			font-size: rem(36px);
			font-family: $font-serif;

			background-color: transparent;

			border-radius: 0;

			top: 0;
			left: 0;
		}

		&--small {
			width: 26px;
			height: 26px;

			&:after {
				width: 26px;
				height: 26px;

				line-height: rem(26px);
				font-size: rem(22px);
			}
		}
	}
}

button,
input[type="submit"] {
	@extend .btn;
}*/

/*---------------------------------------------------------------------------*/
/*--------------------------- New section Friskis ---------------------------*/
/*---------------------------------------------------------------------------*/

@import '../base';

@mixin button-settings($cta-color) {
    background-color: $cta-color;
    border: none;
    border-radius: 0.5em;
    padding: 0.8em 1em;
    margin: 0.2em 0.5em;

    &:focus {
        // TODO: Remove this and add focus mixin
        outline: none;
        background-color: lighten($cta-color, 40%);
    }

    &:hover {
        background-color: darken($cta-color, 10%);
    }
    &:active {
        background-color: darken($cta-color, 30%);
        padding: 0.9em 1em;
        margin-top: 0;
        margin-bottom: 0;
    }

    &:disabled {
        cursor: default;
        background-color: $color-black-10;
    }
}

.btn {
    color: $color-white;
    @include button-settings($cta-color);

    &--block {
        display: block;
    }
}