/**
* UI
*
* @section Setup
* @author Veronika Jeppsson
*/

$color-footer-primary: #2A2C31;
$color-footer-secondary: #222326;

.footer {
    min-height: 10em;
    padding-top: $space-quad;
    background-color: $color-footer-primary;
    color: $color-white;

    a {
        display: block;
        color: $color-white;
        text-decoration: none;
        @include medium-up {
            display: inline-block;
        }
    }

    ul {
        margin: 0 0 $space-double 0;
        padding: 0;
        list-style: none;
        padding: 0 $space 0 0;
    }
    &__navigation {
        &--primary{
            font-weight: bold;
        }
        &--primary, &--secondary {
            a {
                padding: $space-half 0;
            }
        }
    }


    //-- BOTTOM PART OF FOOTER --//
    &__bottom {
        padding: $space-quad 0;
        background-color: $color-footer-secondary;
        text-align: center;
        display: block;

        a {
            margin: $space-half 0;

            @include medium-up {
                margin-right: $space-double;
                display: inline-block;
            }
        }
    }
}
