.icon {
    width: $icon-size;
    height: $icon-size;

    /* - - - - - - - - - - - - - - - - - - - - - - - - - */
    /* - - - - - ICONS AS BACKGROUND ON ELEMENTS - - - - */
    /* - - - - - - - - - - - - - - - - - - - - - - - - - */

    &__background {
        background-size: $icon-size-small $icon-size-small;
        background-position: $space 50%;
        background-repeat: no-repeat;
        @include medium-up {
            background-position: $space-double 50%;
        }

        &--medium {
            background-size: $icon-size-medium $icon-size-medium;
        }
        &--large {
            background-size:70px 70px;
            background-position: 50% top;
            padding-top: 70px;

            @include medium-up {
                padding-top: 0;
                padding-left: 80px;
                background-position: 0 $space;
            }
        }
    }
    &--top {
        background-position: 0 0;
    }

    &__phone {
        background-image: url('/assets/images/icon_phone.svg');
    }

    &__mail {
        background-image: url('/assets/images/icon_mail.svg');
    }
    &__clock {
        background-image: url('/assets/images/icon_clock.svg');
    }
    &__card {
        background-image: url('/assets/images/icon_card.svg');
    }
    &__funkis{
        background-image: url('/assets/images/icon_funkis.png');
    }
    &__goto-circle {
        background-image: url('/assets/images/icon_goto-circle.svg');
    }

    /* - - - - - - - - - - - - - - - - - - - - - - - - - */
    /* - - - - - ICONS AS BEFORE/AFTER ELEMENTS- - - - - */
    /* - - - - - - - - - - - - - - - - - - - - - - - - - */

    &--mini, &--small, &--medium, &--large {
        &:before {
            content: "";
            display: inline-block;
            background-repeat: no-repeat;
            margin-right: $space;
            vertical-align: middle;
        }
    }
    &--mini {
        &:before {
            background-size: $icon-size-mini $icon-size-mini;
            height: $icon-size-mini;
            width: $icon-size-mini;
        }
    }
    &--small {
        &:before {
            background-size: $icon-size-small $icon-size-small;
            height: $icon-size-small;
            width: $icon-size-small;
        }
    }
    &--medium {
        &:before {
            background-size: $icon-size-medium $icon-size-medium;
            height: $icon-size-medium;
            width: $icon-size-medium;
        }
    }
    &--large {
        &:before {
            background-size: $icon-size $icon-size;
            height:  $icon-size;
            width: $icon-size;
        }
    }
    &__pin {
        &:before {
            background-image: url('/assets/images/icon_map_white.svg');
        }
    }
    &__event {
        &:before {
            background-image: url('/assets/images/icon_event.svg');
        }
    }
    &__event-light {
        &:before {
            background-image: url('/assets/images/icon_event-light.svg');
        }
    }
    &__pin-map-light {
        &:before {
            background-image: url('/assets/images/icon_pin-map-light.svg');
        }
    }
    &__play {
        &:before {
            background-image: url('/assets/images/icon_play.svg');
        }
    }

    &__list {
        &:before {
            background-image: url('/assets/images/icon_list-inactive.svg');
        }
    }
    &__goto {
        &:before {
            background-image: url('/assets/images/icon_arrow-right-red.svg');
        }
    }
    &__pin-map {
        &:before {
            background-image: url('/assets/images/icon_pin-map-inactive.svg');
        }
    }

    &__pin-map-filled {
        &:before {
            background-image: url('/assets/images/icon_pin-map.svg');
        }
    }
    &__facebook {
        &:before {
            background-image: url('/assets/images/icon_facebook.png');
        }
    }
    &__twitter {
        &:before {
            background-image: url('/assets/images/icon_twitter.png');
        }
    }
    &__instagram {
        &:before {
            background-image: url('/assets/images/icon_instagram.png');
        }
    }
    &__phone--light {
        &:before {
            background-image: url('/assets/images/icon_phone-white.svg');
        }
    }

    &__mail--light {
        &:before {
            background-image: url('/assets/images/icon_mail-white.svg');
        }
    }
    &__goto-circle-red {
        &:before {
            background-image: url('/assets/images/icon_goto-circle-red.svg');
        }
    }
}

.active {
    .icon {
        &__list {
            &:before {
                background-image: url('/assets/images/icon_list.svg');
            }
        }

        &__pin-map {
            &:before {
                background-image: url('/assets/images/icon_pin-map.svg');
            }
        }
    }
}
.icon__link {
    &:before {
    content: "";
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: $icon-size;
    width: $icon-size;
    margin: 0 auto;
    display: block;

        @include medium-up {
            display: inline-block;
            padding: 0 $space;
            vertical-align: middle;
        }
    }

    &--find {
        &:before {
            background-image: url('/assets/images/icon_pin_find.svg');
        }
    }
}
