.icon {
    width: $icon-size;
    height: $icon-size;

    /* - - - - - - - - - - - - - - - - - - - - - - - - - */
    /* - - - - - ICONS AS BEFORE/AFTER ELEMENTS- - - - - */
    /* - - - - - - - - - - - - - - - - - - - - - - - - - */

    &--small, &--medium {
        &:before {
            content: "";
            display: inline-block;
            background-repeat: no-repeat;
            margin-right: $space;
            vertical-align: middle;
        }
    }

    &--small {
        &:before {
            background-size: $icon-size-small $icon-size-small;
            height: $icon-size-small;
            width: $icon-size-small;
        }
    }
    &--medium {
        &:before {
            background-size: $icon-size-medium $icon-size-medium;
            height: $icon-size-medium;
            width: $icon-size-medium;
        }
    }

    &__phone {
        &:before {
            background-image: url('/assets/images/icon_phone.svg');
        }
    }

    &__mail {
        &:before {
            background-image: url('/assets/images/icon_mail.svg');
        }
    }

    &__schedule {
        &:before {
            background-image: url('/assets/images/icon_schedule-small.svg');
        }
    }

    &__clock {
        &:before {
            background-image: url('/assets/images/icon_schedule-small.svg');
        }
    }

    &__pin {
        &:before {
            background-image: url('/assets/images/icon_map_white.svg');
        }
    }

}


.icon__link {
    &:before {
    content: "";
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: $icon-size;
    width: $icon-size;
    margin: 0 auto;
    display: block;

        @include medium-up {
            display: inline-block;
            padding: 0 $space;
            vertical-align: middle;
        }
    }

    &--find {
        &:before {
            background-image: url('/assets/images/icon_pin_find.svg');
        }
    }
}
