<div class="autocomplete">
    <div class="autocomplete--container">
        <div class="autocomplete--content">
            <h2 class="color--primary-98 margin-bottom--none">Hitta din träningslust!</h2>
            <p>Vi finns på mer än 30 orter och har fler än 500 träningsställen.</p>
            <label class="hidden--accessible" for="find-association">Hitta din träningslust</label>
            <input class="autocomplete__input" type="text" name="find-association" placeholder="Sök efter område, förening eller anläggning" data-js-autocomplete/>
        </div>
    </div>
</div>
