<!-- Base for a presentation of buttons-->

<h3>Buttons</h3>

<button class="btn">Default button</button>
<button class="btn btn--secondary">Secondary button</button>
<button disabled class="btn">Disabled button</button>
<button class="btn btn__icon btn__icon--left btn--book">Icon left button</button>
<button class="btn btn__icon btn--secondary btn__icon--right btn--external-link">Icon right button</button>

<h4>Links styled as buttons</h4>
<a class="btn btn__link" href="#link">Default button</a>
<a class="btn btn--secondary btn__link" href="#link">Secondary button</a>
<a class="btn btn__link btn__icon btn__icon--left btn--book" href="#link">Book button</a>
<a class="btn btn__link btn--secondary btn__icon btn__icon--right btn--external-link" href="#Link">External button</a>
 