<div class="carousel">
    <div class="carousel--fixed">
        <div class="carousel__slider">
            <div>
                <div class="hero">
                    <a href="#1">
                        <img src="/assets/images/styleguide/friskis-running.jpg"/>
                        <div class="hero__container">
                            <div class="hero__content hero__content--effect">
                                <div class="container">
                                    <div class="container--12">
                                        <h2>Träna på Friskis och Svettis</h2>
                                        <p>För dig som vill träna - Välkommen till Friskis</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <div class="hero">
                    <a href="#2">
                        <img src="/assets/images/styleguide/friskis_01.jpg"/>
                        <div class="hero__container">
                            <div class="hero__content hero__content--effect">
                                <div class="container">
                                    <div class="container--12">
                                        <h2>Lust har ingen gräns</h2>
                                        <p>För dig som vill träna - Välkommen till Friskis</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <div class="hero">
                    <a href="#3">
                        <img src="/assets/images/styleguide/friskis-running.jpg"/>
                        <div class="hero__container">
                            <div class="hero__content hero__content--effect">
                                <div class="container">
                                    <div class="container--12">
                                        <h2>Text nummer 3 i den här komponenten är väldigt lång!</h2>
                                        <p>För dig som vill träna - Välkommen till Friskis</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <div class="hero">
                    <a href="#4">
                        <img src="/assets/images/styleguide/friskis_01.jpg"/>
                        <div class="hero__container">
                            <div class="hero__content hero__content--effect">
                                <div class="container">
                                    <div class="container--12">
                                        <h2>Ytterligare en text</h2>
                                        <p>För dig som vill träna - Välkommen till Friskis</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
