<!-- Base for a presentation of colors -->
<!--------- ONLY FOR STYLEGUIDE --------->
<h3>Colors</h3>
<div class="styleguide--circle styleguide--primary">#E31836</div>
<div class="styleguide--circle styleguide--secondary">#48A1DA</div>
<div class="styleguide--circle styleguide--cta">#0EC55A</div>
<div class="styleguide--circle styleguide--primary-light">#FCE7E9</div>
<div class="styleguide--circle styleguide--black-90">#383232</div>
<div class="styleguide--circle styleguide--black-30">#CCCCCC</div>
<div class="styleguide--circle styleguide--black-10">#F5F5F5</div>
<div class="styleguide--circle styleguide--white">#FFFFFF</div>