<ul class="facilities">
    <li><div class="img__container"><img src="/assets/images/icon_lock.svg"/></div><p><small>Låsbara skåp i omklädningsrum</small></p></li>
    <li><div class="img__container"><img src="/assets/images/icon_lock.svg"/></div><p><small>Personalingång</small></p></li>
    <li><div class="img__container"><img src="/assets/images/icon_lock.svg"/></div><p><small>Local changes</small></p></li>
    <li><div class="img__container"><img src="/assets/images/icon_lock.svg"/></div><p><small>Wifi</small></p></li>
    <li><div class="img__container"><img src="/assets/images/icon_lock.svg"/></div><p><small>Tillgänglighet för funktionshindrade</small></p></li>
    <li><div class="img__container"><img src="/assets/images/icon_lock.svg"/></div><p><small>Local changes</small></p></li>
    <li><div class="img__container"><img src="/assets/images/icon_lock.svg"/></div><p><small>Wifi</small></p></li>
    <li><div class="img__container"><img src="/assets/images/icon_lock.svg"/></div><p><small>Tillgänglighet för funktionshindrade</small></p></li>
    <li><div class="img__container"><img src="/assets/images/icon_lock.svg"/></div><p><small>Låsbara skåp i omklädningsrum</small></p></li>
    <li><div class="img__container"><img src="/assets/images/icon_lock.svg"/></div><p><small>Personalingång</small></p></li>
    <li><div class="img__container"><img src="/assets/images/icon_lock.svg"/></div><p><small>Local changes</small></p></li>
    <li><div class="img__container"><img src="/assets/images/icon_lock.svg"/></div><p><small>Wifi</small></p></li>
    <li><div class="img__container"><img src="/assets/images/icon_lock.svg"/></div><p><small>Tillgänglighet för funktionshindrade</small></p></li>
    <li><div class="img__container"><img src="/assets/images/icon_lock.svg"/></div><p><small>Local changes</small></p></li>
    <li><div class="img__container"><img src="/assets/images/icon_lock.svg"/></div><p><small>Wifi</small></p></li>
    <li><div class="img__container"><img src="/assets/images/icon_lock.svg"/></div><p><small>Tillgänglighet för funktionshindrade</small></p></li>
</ul>