<div class="find">
    <div class="find__content">
        <div class="find__introduction">
            <h3 class="heading-4">Förslag nära dig</h3>
            <a class="find__action icon__find icon--medium" href="#linkto1">Friskis Haninge</a>
            <a class="find__action icon__find icon--medium" href="#linkto1">Friskis Lidingö</a>
            <a class="find__action icon__find icon--medium visible-small-up" href="#linkto1">Friskis Stockholm</a>
            <a class="btn btn__link" href="#linkto1">Visa alla föreningar</a>
        </div>
    </div>
</div>