<!-- Base for a list of gallery blocks -->

<section class="gallery">
    <figure class="gallery__item">
        <img src="/assets/images/friskis-running.jpg" alt="Don't forget a descriptive alt text" />
        <figcaption>
            <h2>This is a heading</h2>
            <p>with a text</p>
        </figcaption>
    </figure>
    <figure class="gallery__item">
        <img src="/assets/images/friskis-running.jpg" alt="Don't forget a descriptive alt text" />
        <figcaption>
            <h2>This is a heading</h2>
            <p>with a text</p>
        </figcaption>
    </figure>

    <figure class="gallery__item">
        <img src="/assets/images/friskis-running.jpg" alt="Don't forget a descriptive alt text" />
        <figcaption>
            <h2>This is a heading</h2>
            <p>with a text</p>
        </figcaption>
    </figure>
    <figure class="gallery__item">
        <img src="/assets/images/friskis-running.jpg" alt="Don't forget a descriptive alt text" />
        <figcaption>
            <h2>This is a heading</h2>
            <p>with a text</p>
        </figcaption>
    </figure>
</section>