<div class="hero hero--overlay hero--small">
    <div class="hero__img">
        <img src="/assets/images/styleguide/friskis-running.jpg"/>
    </div>
    <div class="hero__container">
        <div class="hero__content">
            <div class="container">
                <div class="container--12 text-align--center">
                    <h1>Friskis Hornstull</h1>
                    <p class="address icon--small icon__pin">Långholmsgatan 38, Stockholm</p>
                </div>
                <!--<div class="container--4">
                    <ul class="hero__infobox">
                        <li><a class="icon__background icon__background--medium icon__clock" href="#">Våra öppettider</a></li>
                        <li><a class="icon__background icon__background--medium icon__mail" href="mailto:hornstull@sthml.friskissvettis.se">hornstull@sthml.friskissvettis.se</a></li>
                        <li><a class="icon__background icon__background--medium icon__phone" href="tel:08-429 70 01">08-429 70 01</a></li>
                    </ul>
                </div>-->
            </div>
        </div>
    </div>
</div>