<div class="introduction">
    <div class="introduction__container">
        <div class="introduction__pitch">
            <h1>Längta till träningen</h1>
            <p>Om det är kul att träna vill du göra det igen. Då kan du längta till nästa gång. Det kan gå så långt att du står där och ler medan du är mitt uppe i något helt annat i vardagen. Du är nöjd med dig själv. Du känner din kropp och gillar den. Du mår bra, helt enkelt.</p>
            <a href="#lasmer">Läs mer om träningen</a>
        </div>
        <div class="introduction__goto">
            <a href="#traningsutbud"><span class="introduction__icon introduction__icon--training-classes"></span>Träningsutbud</a>
            <a href="#anlaggningar"><span class="introduction__icon introduction__icon--traning-center"></span>Anläggningar</a>
            <a href="#priser"><span class="introduction__icon introduction__icon--prices"></span>Priser</a>
            <a href="#schema"><span class="introduction__icon introduction__icon--schedule"></span>Schema</a>
        </div>
        <div class="introduction__member">
            <a href="#priser">
                <h2>Friskis Stockholm</h2>
                <img src="/assets/images/icon_card.svg" alt="image of Friskis & Svettis training card"/>
                <h3>Bli medlem och få 17 träningstillfällen</h3>
            </a>
        </div>
    </div>
</div>