<div class="styleguide--black-10">
    <p>Put stuff that should be outside the grid container, as for example a background color or image</p>
    <div class="container">
        <div class="container--12">
            <div class="styleguide--box styleguide--primary-light">Placeholder Layout - Full content width</div>
        </div>
    </div>
</div>

<div class="container">
    <div class="container--12">
        <div class="styleguide--box styleguide--primary-light">Placeholder Layout - Full content width</div>
    </div>
</div>

<div class="container">
    <div class="container--8">
        <div class="styleguide--box styleguide--primary-light">Placeholder Layout - Two </div>
    </div>
    <div class="container--4">
        <div class="styleguide--box styleguide--primary-light">Placeholder Layout - One </div>
    </div>
</div>

<div class="container">
    <div class="container--4">
        <div class="styleguide--box styleguide--primary-light">Placeholder Layout - One </div>
    </div>
    <div class="container--8">
        <div class="styleguide--box styleguide--primary-light">Placeholder Layout - Two </div>
    </div>
</div>


<div class="container">
    <div class="container--6">
        <div class="styleguide--box styleguide--primary-light">Placeholder Layout - Half </div>
    </div>
    <div class="container--6">
        <div class="styleguide--box styleguide--primary-light">Placeholder Layout - Half </div>
    </div>
</div>


<div class="container">
    <div class="container--4">
        <div class="styleguide--box styleguide--primary-light">Placeholder Layout - One </div>
    </div>
    <div class="container--4">
        <div class="styleguide--box styleguide--primary-light">Placeholder Layout - One </div>
    </div>
    <div class="container--4">
        <div class="styleguide--box styleguide--primary-light">Placeholder Layout - One </div>
    </div>
</div>
