
<div class="map__container">
    <!--TABS - hidden-medium-up -->
    <ul  class="tabs" data-tab="map">
        <li class="tab__title active"><a href="#panel1">Lista</a></li>
        <li class="tab__title"><a href="#panel2" id="map-tab">Karta</a></li>
    </ul>

    <!--MAP - VISIBLE ALL THE TIME -->
    <div class="tab__content hidden-small--block" id="panel2" data-tab-map>
        <div id="map"></div>
    </div>

    <!--MAP-LIST - VISIBLE ALL THE TIME -->
    <div class="tab__content map__content" id="panel1" data-tab-map>
        <div class="map__list">
            <h3>Här finns vi - 17 anläggningar</h3>
            <ul>
                <li data-i="0" data-map-title="Kungsholmen 0" data-map-address="Sankt Eriksgatan 54, Stockholm" data-map-url="/sjjsjs" data-map-lat="59.3361193" data-map-lng="18.0341168">
                    <button class="map__list--show">Visa på karta</button>
                    <a href="#hej">
                        <h4>City</h4>
                        <address>Regeringsgatan 38</address>
                    </a>
                </li>
                <li data-i="1" data-map-title="Kungsholmen 1" data-map-address="Sankt Eriksgatan 54, Stockholm" data-map-url="/sjjsjs" data-map-lat="59.347710" data-map-lng="18.0341168">
                    <button class="map__list--show">Visa på karta</button>
                    <a href="#hej">
                        <h4>Södermalm</h4>
                        <address>Regeringsgatan 38</address>
                    </a>
                </li>
                <li data-i="2" data-map-title="Kungsholmen 2" data-map-address="Sankt Eriksgatan 54, Stockholm" data-map-url="/sjjsjs" data-map-lat="59.307722" data-map-lng="18.0341168">
                    <button class="map__list--show">Visa på karta</button>
                    <a href="#hej">
                        <h4>Kungsholmen</h4>
                        <address>Regeringsgatan 38</address>
                    </a>
                </li>
                <li data-i="3" data-map-title="Kungsholmen 3" data-map-address="Sankt Eriksgatan 54, Stockholm" data-map-url="/sjjsjs"  data-map-lat="59.3361193" data-map-lng="18.0341168">
                    <button class="map__list--show">Visa på karta</button>
                    <a href="#hej">
                        <h4>Sveavägen</h4>
                        <address>Regeringsgatan 38</address>
                    </a>
                </li>
                <li data-i="4" data-map-title="Kungsholmen 4" data-map-address="Sankt Eriksgatan 54, Stockholm" data-map-url="/sjjsjs" data-map-lat="59.3361193" data-map-lng="18.0341168">
                    <button class="map__list--show">Visa på karta</button>
                    <a href="#hej">
                        <h4>Ringvägen</h4>
                        <address>Regeringsgatan 38</address>
                    </a>
                </li>
                <li data-i="5" data-map-title="Kungsholmen 5" data-map-address="Sankt Eriksgatan 54, Stockholm" data-map-url="/sjjsjs"  data-map-lat="59.3361193" data-map-lng="18.0341168">
                    <button class="map__list--show">Visa på karta</button>
                    <a href="#hej">
                        <h4>Kungsholmen</h4>
                        <address>Regeringsgatan 38</address>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


