<!--TODO: Hide text close for accessibility -->
<div class="navigation__container">
    <div class="container">
        <div class="container--12">
            <ul class="navigation navigation--small">
                <!--TODO: ADD hidden text logo for accessibility -->
                <li>
                    <a href="#uou1">
                    <img class="navigation__logo" src="/assets/images/friskis_logo.svg" alt="Friskis & Svettis logo">
                    </a>
                </li>
                <!--TODO: ADD hidden text boka for accessibility on click -->
                <li>
                    <a class="btn btn--book btn--icon" href="#pagebooking">Boka pass</a>
                    <button class="navigation__btn" href="#uou2" data-menu>
                        <img class="icon" src="/assets/images/icon_menu.svg" alt="Open menu"/>
                    </button>
                </li>
            </ul>
            <!--TODO: Add hidden accessibility text for close icon -->
            <button class="navigation__btn navigation__btn--close" data-menu-close>
                <img class="icon" src="/assets/images/icon_close.svg" alt="Close icon"/>
            </button>
            <ul class="navigation navigation__list" data-menu-content>
                <!--TODO: Add hidden accessibility text for logo -->
                <li class="navigation__item hidden-small">
                    <a href="#uou3">
                        <img class="navigation__logo" src="/assets/images/friskis_logo.svg" alt="Friskis & Svettis logo">
                        </a>
                    </li>
                <li class="navigation__item"><a href="#uou4">Hitta oss</a></li>
                <li class="navigation__item"><a href="#uo5">Vår träning</a></li>
                <li class="navigation__item"><a href="#uou6">Bli medlem</a></li>
                <li class="navigation__item"><a href="#uou7">Funktionär</a></li>
                <li class="navigation__item"><button class="navigation__btn" data-menu-more>Mer</button>
                    <ul data-menu-more-content>
                        <li><a href="#uou4">Idé</a></li>
                        <li><a href="#uou7">Historia</a></li>
                        <li><a href="#uou7">Värderingar</a></li>
                        <li><a href="#uou7">Organisation</a></li>
                        <li><a href="#uou7">Vår syn på träning</a></li>
                        <li><a href="#uou7">Utbildnignen</a></li>
                        <li><a href="#uou7">Fakta akut</a></li>
                        <li><a href="#uou7">Doping</a></li>
                        <li><a href="#uou7">Medlemsskap & träningskort</a></li>
                    </ul>
                </li>
                <li class="navigation__item hidden-small"><a href="#pagebooking">Boka pass</a></li>
            </ul>
        </div>
    </div>
</div>