<div class="container">
    <div class="container--12">
        <div class="quote text-align--center">
            <div class="quote__image">
                <img src="/assets/images/styleguide/friskis-running.jpg"/>
            </div>
            <blockquote>Kurserna blir ett slags gemensam utvecklings-mötesplats, där möts ett gäng sköna människor
                med en gemensam uppgift
                <cite>Helena Nilsson <p class="color--primary">Jympainstruktör, Stockholm</p></cite>
            </blockquote>
        </div>
    </div>
</div>
<div class="container">
    <div class="container--12">
        <div class="quote text-align--center">
            <div class="quote__image">
                <img src="/assets/images/styleguide/friskis-running.jpg"/>
            </div>
            <h3>Din instruktör</h3>
            <p class="margin-bottom--none">Helena Nilsson</p>
            <p class="color--primary">Jympainstruktör, Stockholm</p>
        </div>
    </div>
</div>