<!-- Base for a rich text editor block -->

<div class="rich-text">
    <h3>Typography</h3>
    <div><h1>I'm a h1</h1></div>
    <div><h2>I'm a h2</h2></div>
    <div><h3>I'm a h3</h3></div>
    <div><h4>I'm a h4</h4></div>
    <div><h5>I'm a h5</h5></div>
    <div><h6>I'm a h6</h6></div>

    <blockquote>This is a blockqoute</blockquote>

    <p class="intro">This is an introduction for something. </p>

    <p>This is a p tag with <a href="link">a link inside</a> and <strong>some strong text.</strong> and <em>some text with added emphasis</em></p>

    <h4>Ordered list</h4>
    <ol>
        <li>List item 1</li>
        <li>List item 2</li>
        <li>List item 3</li>
        <li>List item 4</li>
    </ol>

    <h4>Unordered list</h4>
    <ul>
        <li>List item 1</li>
        <li>List item 2</li>
        <li>List item 3</li>
        <li>List item 4</li>
    </ul>
</div>