<!-- Base for a rich text editor block -->

<div class="rich-text">
    <h3>Typography</h3>
    <div><h1>I'm a h1</h1></div>
    <div><h2>I'm a h2</h2></div>
    <div><h3>I'm a h3</h3></div>
    <div><h4>I'm a h4</h4></div>
    <div><h5>I'm a h5</h5></div>
    <div><h6>I'm a h6</h6></div>

    <blockquote>This is a blockqoute</blockquote>

    <p class="intro">This is an introduction for something. </p>

    <p>This is a p tag with <a href="link">a link inside</a> and <strong>some strong text.</strong> and <em>some text with added emphasis</em></p>
   
    <p class="note">Säsonger: 1 jan - 30 juni, 1 juli - 31 december</p>

    <h4>Ordered list</h4>
    <ol>
        <li>Numeral example 001</li>
        <li>Numeral example 002</li>
        <li>Numeral example 003</li>
        <li>Numeral example 004</li>
        <li>Numeral example 005</li>
    </ol>
    <h4>Unordered lists</h4>
    <ul>
        <li>Bullet point example 001</li>
        <li>Bullet point example 002</li>
        <li>Bullet point example 003</li>
        <li>Bullet point example 004</li>
        <li>Bullet point example 005</li>
    </ul>

    <ul class="list--tick">
        <li>Tick example 001</li>
        <li>Tick example 002</li>
        <li>Tick example 003</li>
        <li>Tick example 004</li>
        <li>Tick example 005</li>
    </ul>

    <ul class="list--goto">
        <li><a href="#">Goto example 001</a></li>
        <li><a href="#">Goto example 002</a></li>
        <li><a href="#">Goto example 003</a></li>
        <li><a href="#">Goto example 004</a></li>
        <li><a href="#">Goto example 005</a></li>
    </ul>

</div>