<!-- Base for a teaser block -->
<div class="container">
    <div class="container--12">
        <h3>Teaser with heading in layout - 3 columns</h3>
    </div>
    <div class="container--4">
        <div class="teaser teaser--small">
            <a href="#add-link-if-you-want-to">
                <img src="/assets/images/styleguide/friskis-running.jpg" alt="Träna på Friskis" />
                <div class="teaser__content">
                    <h3 class="heading-5">Barnpassningstider i påsk & första maj</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="container--4">
        <div class="teaser teaser--small">
            <a href="#add-link-if-you-want-to">
                <img src="/assets/images/styleguide/friskis-running.jpg" alt="Träna på Friskis" />
                <div class="teaser__content">
                    <h3 class="heading-5">This is a h2 to this image</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="container--4">
        <div class="teaser teaser--small">
            <a href="#add-link-if-you-want-to">
                <img src="/assets/images/styleguide/friskis-running.jpg" alt="Träna på Friskis" />
                <div class="teaser__content">
                    <h3 class="heading-5">This is a h2 to this image</h3>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="container--12">
        <h3>One column wide teaser</h3>
        <div class="teaser teaser--full">
            <img src="/assets/images/styleguide/friskis-running.jpg" alt="Träna på Friskis" />
            <div class="teaser__content">
                <h3 class="heading-5">This is a h2 to this image</h3>
                <p>Kettlebells har blicit ett otroligt populärt träningsredskap och är ett utmärkt verktyg för att öka uthålighet och styrka. Utbildningen riktar sig till dig som är nybörjare med kettlebells eller har tränat ett tag men vill förnbättra din teknik.</p>
                <a href="#">Läs mer</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="container--12">
        <h3>Teaser with heading in layout - 3 columns</h3>
    </div>
    <div class="container--6">
        <div class="teaser">
            <a href="#add-link-if-you-want-to">
                <div class="teaser--overlay teaser--enhanced">
                    <img src="/assets/images/styleguide/friskis-running.jpg" alt="Träna på Friskis" />
                    <div class="teaser__overlay">
                        <div class="teaser__content">
                            <h2>This is a h2 to this image</h2>
                            <p>Oavsett om du vill bli starkare, rörligare, springa ett lopp eller må bra så har vi träningen för dig.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="container--6">            
        <div class="teaser">
            <a href="#add-link-if-you-want-to">
                <div class="teaser--overlay teaser--enhanced">
                    <img src="/assets/images/styleguide/friskis-running.jpg" alt="Träna på Friskis" />
                    <div class="teaser__overlay">
                        <div class="teaser__content">
                            <h2>This is a h2 to this image</h2>
                            <p>Oavsett om du vill bli starkare, rörligare, springa ett lopp eller må bra så har vi träningen för dig.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="container--12">
        <h3>Teaser with heading in content wide layout</h3>
        <div class="teaser">
            <a href="#add-link-if-you-want-to">
                <div class="teaser--overlay teaser--enhanced">
                    <img src="/assets/images/styleguide/friskis-running.jpg" alt="Träna på Friskis" />
                    <div class="teaser__overlay">
                        <div class="teaser__content">
                            <h2>This is a h2 to this image</h2>
                            <p>Oavsett om du vill bli starkare, rörligare, springa ett lopp eller må bra så har vi träningen för dig.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="container--12">
        <h3>Teaser with heading in layout - 3 columns</h3>
    </div>
</div>
<div class="container">
    <div class="container--4">
        <div class="teaser">
            <a href="#add-link-if-you-want-to">
                <div class="teaser--overlay">
                    <img src="/assets/images/styleguide/friskis-running.jpg" alt="Träna på Friskis" />
                    <div class="teaser__overlay">
                        <div class="teaser__content">
                            <h2 class="heading-3">Yoga</h2>
                            <p>Oavsett om du vill bli starkare, rörligare, springa ett lopp eller må bra så har vi träningen för dig.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="container--4">
        <div class="teaser">
            <a href="#add-link-if-you-want-to">
                <div class="teaser--overlay">
                    <img src="/assets/images/styleguide/friskis-running.jpg" alt="Träna på Friskis" />
                    <div class="teaser__overlay">
                        <div class="teaser__content">
                            <h2 class="heading-3">Jympa</h2>
                            <p>Oavsett om du vill bli starkare, rörligare, springa ett lopp eller må bra så har vi träningen för dig.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="container--4">
        <div class="teaser">
            <a href="#add-link-if-you-want-to">
                <div class="teaser--overlay">
                    <img src="/assets/images/styleguide/friskis-running.jpg" alt="Träna på Friskis" />
                    <div class="teaser__overlay">
                        <div class="teaser__content">
                            <h2 class="heading-3">This is a h2 to this image</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="container--12">
        <h3>Teaser list</h3>
        <ul class="teaser teaser__list">
            <li class="icon__background icon__background--medium icon--top icon__goto-circle">
                <a href="#add-link-if-you-want-to">
                    <div class="teaser__content">
                        <h3 class="heading-5">Omöblering i gymmet</h2>
                        <p class="date">2017-07-23</p>
                        <p>Stretchytan och lilla podiet har bytt plats för att minska bullret ac dunsarna som stört grannara i fastigheten.</p>
                    </div>
                </a>
            </li>
            <li class="icon__background icon__background--medium icon--top icon__goto-circle">
                <a href="#add-link-if-you-want-to">
                    <div class="teaser__content">
                        <h3 class="heading-5">Omöblering i gymmet</h2>
                        <p class="date">2017-07-23</p>
                        <p>Stretchytan och lilla podiet har bytt plats för att minska bullret ac dunsarna som stört grannara i fastigheten.</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
