<!-- Base for a teaser block -->

<a href="#add-link-if-you-want-to">
    <figure class="teaser">
        <img src="/assets/images/friskis-running.jpg" alt="Träna på Friskis" />
    </figure>
</a>

<a href="#add-link-if-you-want-to">
    <figure class="teaser--content">
        <img src="/assets/images/friskis-running.jpg" alt="Träna på Friskis" />
        <figcaption>
            <h2>This is a h2 to this image</h2>
            <p>With text inside like this</p>
        </figcaption>
    </figure>
</a>


<a href="#add-link-if-you-want-to">
    <figure class="teaser--content">
        <figcaption>
            <h2>This is a h2 to this image</h2>
            <p>With text inside like this</p>
        </figcaption>
        <img src="/assets/images/friskis-running.jpg" alt="Träna på Friskis" />
    </figure>
</a>