
<div class="container">
    <div class="container--12">
        <h2>Components for #431 Modules, prio group A</h3>
        <h3>Image video 50/50</h3>
    </div>
</div>

<div class="container">
    <div class="container--6">
        <div class="media-container media-container--360">
            <img class="media-container__media" src="/assets/images/styleguide/friskis-running.jpg"/>
        </div>
    </div>
    <div class="container--6">
        <div class="media-container media-container--360 media-container__youtube media-container__video" data-js-youtube="YoCciV65SbE">
            <img class="media-container__media" src="https://i.ytimg.com/vi/YoCciV65SbE/sddefault.jpg"/>
            <div class="icon--large icon__play media-container__control"><span class="hidden--accessible">Play button</span></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="container--12">
        <h3>Title text video 50/50</h3>
    </div>
</div>

<div class="container">
    <div class="container--6">
    <div class="rich-text">
        <h3>Typography</h3>

        <ul class="list--tick">
            <li>Tick example 001</li>
            <li>Tick example 002</li>
            <li>Tick example 003</li>
            <li>Tick example 004</li>
            <li>Tick example 005</li>
        </ul>
    </div>
</div>
    <div class="container--6">
        <div class="media-container media-container--360 media-container__youtube media-container__video" data-js-youtube="YoCciV65SbE">
            <img class="media-container__media" src="https://i.ytimg.com/vi/YoCciV65SbE/sddefault.jpg"/>
            <div class="icon--large icon__play media-container__control"><span class="hidden--accessible">Play button</span></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="container--12">
        <h3>Image rich text 50/50</h3>
    </div>
</div>

<div class="container">
    <div class="container--6">
        <div class="rich-text">
            <h4>Typography</h4>
                <p>Om du tänker multihall istället för gym. Lek istället för träning. Då är du nära den individuella träningen vi vill erbjuda på Friskis&Svettis. Den klassiska bilden av gymmet med en maskinpark finns kvar. Den används av många och har definitivt sina användningsområden. Men Friskis&Svettis satsar stort på den funktionella ytan. Vi vill med denna yta inspirera ännu mer till rörelseglädje i alla dess former.</p>
                <p>Men Friskis&Svettis satsar stort på den funktionella ytan. Vi vill med denna yta inspirera ännu mer till rörelseglädje i alla dess former.</p>
            </div>
    </div>
    <div class="container--6">
        <div class="media-container media-container--360">
            <img class="media-container__media" src="/assets/images/styleguide/friskis-running.jpg"/>
        </div>
    </div>
</div>

<div class="container">
    <div class="container--12">
        <h3>Image textbox 50/50</h3>
    </div>
</div>
<div class="container">
    <div class="container--6">
        <div class="media-container media-container--360">
            <img class="media-container__media" src="/assets/images/styleguide/friskis-running.jpg"/>
        </div>
    </div>
    <div class="container--6">
        <div class="textbox">
            <div class="textbox__content">
                <h3>Var vill du börja?</h3>
                <p>Vi i Friskis&Svettis tror på mångfald i gymmet, i dubbel bemärkelse. Vi vill att så många olika människor som möjligt ska känna sig trygga, välkomna och inspirerade till att träna i våra gym. </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="container--6">
        <div class="media-container media-container--360">
            <img class="media-container__media" src="/assets/images/styleguide/friskis-running.jpg"/>
        </div>
    </div>
    <div class="container--6">
        <div class="textbox textbox--red">
            <div class="textbox__content">
                <h3>Var vill du börja?</h3>
                <p>Vi i Friskis&Svettis tror på mångfald i gymmet, i dubbel bemärkelse. Vi vill att så många olika människor som möjligt ska känna sig trygga, välkomna och inspirerade till att träna i våra gym. </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="container--6">
        <div class="media-container media-container--360">
            <img class="media-container__media" src="/assets/images/styleguide/friskis-running.jpg"/>
        </div>
    </div>
    <div class="container--6">
        <div class="textbox textbox--yellow">
            <div class="textbox__content">
                <h3>Var vill du börja?</h3>
                <p>Vi i Friskis&Svettis tror på mångfald i gymmet, i dubbel bemärkelse. Vi vill att så många olika människor som möjligt ska känna sig trygga, välkomna och inspirerade till att träna i våra gym. </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="container--12">
        <h3>CTA module</h3>
    </div>
</div>
<div class="container">
    <div class="container--12">
        <h3>Teaser with heading in content wide layout</h3>
        <div class="teaser">
            <div class="teaser--overlay">
                <img src="/assets/images/styleguide/friskis-running.jpg" alt="Träna på Friskis" />
                <div class="teaser__overlay">
                    <div class="teaser__content">
                        <h2>This is a h2 to this image</h2>
                        <p>Oavsett om du vill bli starkare, rörligare, springa ett lopp eller må bra så har vi träningen för dig.</p>
                        <a class="btn btn__link btn--secondary" href="#Link">Nu kör vi!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
