<div class="container">
    <div class="container-12">
        <ul class="list--horizontal list--small">
            <li class="icon--medium icon__tick" ><a href="##">Träna hos oss</a></li>
            <li class="icon--medium  icon__tick" ><a href="##">Här finns vi</a></li>
            <li class="icon--medium  icon__tick" ><a href="##">Jaoss</a></li>
            <li class="icon--medium  icon__tick" ><a href="##">Träning</a></li>
            <li class="icon--medium  icon__tick" ><a href="##">Alltid hososs</a></li>
        </ul>
    </div>
</div>