

<!--<div class="container">
    <div class="container--12">
        <h3>Video in content wide section</h3>
        <div class="media-container media-container--16x9 ">
            <iframe class="media-container__media" class="video" width="560" height="315" src="https://www.youtube.com/embed//9R32UVViocQ" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="container">
    <div class="container--6">
        <h3>Video in 50 50 columns</h3>
        <div class="media-container media-container--16x9 ">
            <iframe class="media-container__media" width="560" height="315" src="https://www.youtube.com/embed/9J-u20VMMLc" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="container--6">
        <h3>Video in 50 50 columns</h3>
        <div class="media-container media-container--16x9 ">
            <iframe class="media-container__media" width="560" height="315" src="https://www.youtube.com/embed/9J-u20VMMLc" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="container">
    <div class="container--4">
        <div class="media-container media-container--16x9 ">
            <iframe class="media-container__media" width="560" height="315" src="https://www.youtube.com/embed/9J-u20VMMLc?controls=0"gulp frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="container--4">
        <div class="media-container media-container--16x9 ">
            <iframe class="media-container__media" width="560" height="315" src="https://www.youtube.com/embed/9J-u20VMMLc" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="container--4">
        <div class="media-container media-container--16x9 ">
            <iframe class="media-container__media" width="560" height="315" src="https://www.youtube.com/embed/9J-u20VMMLc" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>-->
<div class="container">
    <div class="container--4">
        <div class="media-container media-container--360 media-container__youtube media-container__video" data-js-youtube="YoCciV65SbE">
            <img class="media-container__media" src="https://i.ytimg.com/vi/YoCciV65SbE/sddefault.jpg"/>
            <div class="icon--large icon__play media-container__control"><span class="hidden--accessible">Play button</span></div>
        </div>
        
        <div class="media-container media-container--360 media-container__youtube media-container__video" data-js-youtube="etgU9jUyA4A">
            <img class="media-container__media" src="https://i.ytimg.com/vi/etgU9jUyA4A/sddefault.jpg" />
            <div class="icon--large icon__play media-container__control"><span class="hidden--accessible">Play button</span></div>
        </div>
    </div>
    <div class="container--8">
        <div class="media-container media-container--360 media-container__youtube media-container__video" data-js-youtube="EaGXaUtJjYM">
            <img class="media-container__media" src="https://i.ytimg.com/vi/EaGXaUtJjYM/sddefault.jpg" />
            <div class="icon--large icon__play media-container__control"><span class="hidden--accessible">Play button</span></div>
        </div>
    </div>
</div>

<!--<div class="container">
    <div class="container--8">
        <div class="media-container media-container--16x9">
            <iframe class="media-container__media" width="560" height="315" src="https://www.youtube.com/embed/9J-u20VMMLc" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="container--4">
        <div class="media-container media-container--16x9 ">
            <iframe class="media-container__media" width="560" height="315" src="https://www.youtube.com/embed/9J-u20VMMLc" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="media-container media-container--16x9">
            <iframe class="media-container__media" width="560" height="315" src="https://www.youtube.com/embed/9J-u20VMMLc" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>-->
<h3>Video outside container</h3>
<div class="media-container media-container--360 media-container__youtube media-container__video" data-js-youtube="a23le7QmmN8">
    <img class="media-container__media" src="https://i.ytimg.com/vi/a23le7QmmN8/sddefault.jpg"/>
    <div class="icon--large icon__play media-container__control"><span class="hidden--accessible">Play button</span></div>
</div>