<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <scheduling>
      <!-- The time format is "HH:MM:SS" -->
      <agent type="Sitecore.Tasks.PublishAgent" method="Run" interval="00:00:00">
        <!-- The time format is "HH:MM:SS" -->
        <!-- <patch:attribute name="interval">00:30:00</patch:attribute> -->
        <param desc="source database">master</param>
        <param desc="target database">web</param>
        <!-- Despite the description, "smart" publish is usable as well BUT has a bug in 8.2 so don't use -->
        <param desc="mode (full or incremental)">incremental</param>
        <param desc="languages">en, da, sv-SE</param>
      </agent>
    </scheduling>
  </sitecore>
</configuration>
