<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <scheduling>
      <agent type="Sitecore.Tasks.PublishAgent" method="Run" interval="00:01:00">
        <param desc="source database">master</param>
        <param desc="target database">web</param>
        <param desc="mode (full or smart or incremental)">incremental</param>
        <param desc="languages">en, da, sv-SE</param>
      </agent>
    </scheduling>
  </sitecore>
</configuration>
