@using Sitecore.Mvc
@using DynamicPlaceholders.Mvc.Extensions
@using Sitecore.Mvc.Presentation
@{
    Layout = null;
}
<div class="background--white">
    <div class="container">
        <div class="container--12">
            @Html.Sitecore().Placeholder("static-content-100")
        </div>
    </div>
</div>
