
    <footer class="footer container--relative">
        <div class="footer--mood">
            <img src="/assets/images/styleguide/friskis-running.jpg" alt="Träna på Friskis">
            <div class="footer__overlay">
                <div class="footer__content">
                    <h2>På Friskis&Svettis Hornstull finns träning för alla åldrar och nivåer</h2>
                    <p class="intro">Träna ute med cross-gänget kring Hornstulls strand eller variera din träning med Box- och Spinpass. I gymmet möter du våra tillgängliga tränare som finns där för att inspirera till din träning och svara på frågor. Välkomna till oss på F&S Hornstull!</p>
                    <a class="btn btn__link btn--secondary" href="#link">Goto startpage button</a>
                </div>
            </div>
        </div>
        <div class="footer__contact">
            <h3>Kontakta Friskis Hornstull</h3>
            <a class="icon--large icon__mail--light" href="mailto:hornstull@sthml.friskissvettis.se">hornstull@sthml.friskissvettis.se</a>
            <a class="icon--large icon__phone--light" href="tel:08-429 70 01">08-429 70 01</a>
        </div>
        <div class="footer__navigation">
            <div class="container">
                <div class="container--3">
                    <ul class="footer__navigation--primary">
                        <li><a href="#uou4">Hitta oss</a></li>
                        <li><a href="#uo5">Vår träning</a></li>
                        <li><a href="#uou6">Bli medlem</a></li>
                        <li><a href="#uou7">Funktionär</a></li>
                    </ul>
                </div>
                <div class="container--3">
                    <ul class="footer__navigation--secondary">
                        <li><a href="#uou4">Idé</a></li>
                        <li><a href="#uou7">Historia</a></li>
                        <li><a href="#uou7">Värderingar</a></li>
                        <li><a href="#uou7">Organisation</a></li>
                        <li><a href="#uou7">Vår syn på träning</a></li>
                        <li><a href="#uou7">Utbildnignen</a></li>
                        <li><a href="#uou7">Fakta akut</a></li>
                        <li><a href="#uou7">Doping</a></li>
                        <li><a href="#uou7">Medlemsskap &amp; träningskort</a></li>
                    </ul>
                </div>
                <div class="container--6 center-small-down">
                    <a class="icon__background icon__background--large icon__card" href="link-to-become-a-member-page">
                        <h2 class="heading-4">Bli medlem</h2>
                        <p>Oavsett om du vill bli starkare, rörligare, springa ett långlopp eller helt enkelt må bra så har vi träningen för dig.</p>
                    </a>
                    <a class="icon__background icon__background--large icon__funkis" href="link-to-become-a-member-page">
                        <h2 class="heading-4">Bli funktionär</h2>
                        <p>Vill du dela med dig av den känslan och inspirera flera att börja röra på sig? Då kanske du vill bli funktionär!</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="container">
                <div class="container--12">
                    <a class="icon--large icon__facebook" href="www.facebook.com"><span class="hidden--accessible">Facebook</span></a>
                    <a class="icon--large icon__twitter" href="www.twitter.com"><span class="hidden--accessible">Twitter</span></a>
                    <a class="icon--large icon__instagram" href="www.instagram.com"><span class="hidden--accessible">Instagram</span></a>
                    <a class="icon--large icon__mail--light" href="mailto:hornstull@sthml.friskissvettis.se">hornstull@sthml.friskissvettis.se</a>
                    <a class="icon--large icon__phone--light" href="tel:08-429 70 01">08-429 70 01</a>
                </div>
            </div>
        </div>
    </footer>
	<script src="../../../scripts/bundle.js"></script>
</body>
