// Column function. Use: width: col(1, 12);
@function col($col, $grid){
	@return (($col * 100) / $grid) * 1%
}

.wrapper {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;

	@extend .clearfix;

	@media screen and (min-width: $mq-tablet-portrait) {
		width: 480px;
	}

	@media screen and (min-width: $mq-tablet-horizontal) {
		width: 740px;
	}

	@media screen and (min-width: $mq-desktop) {
		width: 990px;
	}

	@media screen and (min-width: $mq-desktop-large) {
		width: 1100px;
	}

	@media screen and (min-width: $mq-desktop-xlarge) {
		width: 1580px;
	}

	&--full-width-tablet {
		@media screen and (min-width: $mq-tablet-portrait) {
			width: 100%;
		}

		@media screen and (min-width: $mq-tablet-horizontal) {
			width: 100%;
		}

		@media screen and (min-width: $mq-desktop) {
			width: 990px;
		}

		@media screen and (min-width: $mq-desktop-large) {
			width: 1100px;
		}

		@media screen and (min-width: $mq-desktop-xlarge) {
			width: 1580px;
		}
	}
}


.col {
	height: 100px;
	float: left;

	background-color: #f1f1f1;

	text-align: center;
	vertical-align: middle;
	line-height: 100px;

	border: 1px solid rgba(0,0,0,0.7);

	&:nth-child(odd) {
		background-color: rgba(255,255,255,0.7);
	}

	&--1 {
		width: col(1, 12);
	}

	&--2 {
		width: col(2, 12);
	}

	&--3 {
		width: col(3, 12);
	}

	&--4 {
		width: col(4, 12);
	}

	&--5 {
		width: col(5, 12);
	}

	&--6 {
		width: col(6, 12);
	}

	&--7 {
		width: col(7, 12);
	}

	&--8 {
		width: col(8, 12);
	}

	&--9 {
		width: col(9, 12);
	}

	&--10 {
		width: col(10, 12);
	}

	&--11 {
		width: col(11, 12);
	}

	&--12 {
		width: col(12, 12);
	}
}
