// Typography

body {
    font-family: $font-secondary;
    line-height: 1.5rem;
    font-size: $base-font-size;
    color: $color-text;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
    font-family: $font;
    line-height: 1.25;
}

h1, .heading-1 {
    font-size: rem(28px);

    @include small-up {
        font-size: rem(54px);
    }

    @include medium-up {
        font-size: rem(64px);
    }
}

h2, .heading-2 {
    font-size: rem(22px);

    @include small-up {
        font-size: rem(42px);
    }

    @include medium-up {
        font-size: rem(48px);
        line-height: rem(58px);
    }
}

h3, .heading-3, .rich-text h2 {
    font-size: rem(20px);

    @include small-up {
        font-size: rem(36px);
    }

    @include medium-up {
        font-size: rem(32px);
        line-height: rem(40px);
    }
}

h4,.heading-4, .rich-text h3 {
    font-size: rem(18px);

    @include small-up {
        font-size: rem(20px);
    }

    @include medium-up {
        font-size: rem(24px);
        line-height: rem(30px);
    }
}

h5, .heading-5, .rich-text h4 {
    font-size: rem(16px);

    @include small-up {
        font-size: rem(18px);
    }

    @include medium-up {
        font-size: rem(20px);
        line-height: rem(25px);
    }
}

h6, .heading-6 {
    font-size: rem(16px);
    line-height: 1;

    @include small-up {
        line-height: rem(19px);
    }
}

p {
    margin: 0 0 $space 0;
}

.intro {
    font-size: rem(18px);

    @include small-up {
        font-size: rem(20px);
    }

    @include medium-up {
        font-size: rem(22px);
        line-height: rem(34px);
    }
}

blockquote {
    font-size: rem(26px);

    @include small-up {
        font-size: rem(32px);
    }

    @include medium-up {
        font-size: rem(40px);
        line-height: rem(48px);
    }
}

a {
    color: $color-text-link;
    cursor: pointer;

    &.link--inverted {
        color: $color-white;
    }
}

address {
    font-style: normal;
}