{{> htmlhead}}

<div class="container">
    <div class="container--12">
        <h1>Friskis & Svettis Styleguide</h1>

        <h2>Base</h2>
    </div>
</div>
{{> grid}}
{{> layout}}
<div class="container">
    <div class="container--12">
        {{> color}}

        <h2>Atoms</h2>
        {{> buttons}}
        {{> richtext}}

        <h2>Molecules</h2>
    </div>
</div>
{{> autocomplete}}
{{> find}}
{{> introduction}}
{{> map}}
{{> teaser}}

<div class="container">
    <div class="container--12">
        <h2>Organisms</h2>

        <h2>Pages</h2>
        <p>Links to pages</p>
    </div>
</div>

{{> htmlfooter}}