{{> htmlhead}}
<div class="message">
    <div class="message--overlay">
        <div class="message__content">
            <img src="/assets/images/friskis_logo.svg" alt="Friskis & Svettis logo"/>
            <h1 class="heading-3">The new page for Friskis & Svettis Flen is coming soon, hurrah!
            In the mean time however you can continue to use the existing site, found here.</h1>
            <p><a class="btn btn__link btn__icon btn__icon--right btn--external-link" href="#link-to-existing-site">Go to Friskis Flen</a></p>
            <a href="#link-to-startpage" class="link--inverted">Go back to start page</a>
        </div>
    </div>
</div>
