<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="Valtech.Foundation.Pipelines.HttpRequestBegin.CustomUrlEnforcer, Valtech.Foundation" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']">
        </processor>
      </httpRequestBegin>
    </pipelines>
    <settings>
      <setting name="CustomUrlEnforcer.EnforceSecureScheme" value="true" />
      <setting name="CustomUrlEnforcer.EnforceCanonicalHost" value="true" />
      <setting name="CustomUrlEnforcer.EnforceLowerCaseUrl" value="true" />
    </settings>
  </sitecore>
</configuration>