<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <synthesis>
      <providers>
        <moduleProvider>
          <modules>
            <module name="Document" moduleType="Feature" project="FOS.Website.Feature"/>
            <module name="Navigation" moduleType="Feature" project="FOS.Website.Feature"/>
            <module name="Property" moduleType="Feature" project="FOS.Website.Feature"/>
            <module name="Content" moduleType="Feature" project="FOS.Website.Feature"/>
            <module name="Summary" moduleType="Feature" project="FOS.Website.Feature"/>
            <module name="News" moduleType="Feature" project="FOS.Website.Feature"/>
            <module name="Event" moduleType="Feature" project="FOS.Website.Feature"/>
            <module name="ComponentBlock" moduleType="Feature" project="FOS.Website.Feature"/>
          </modules>
        </moduleProvider>
      </providers>
    </synthesis>
  </sitecore>
</configuration>