
@using FOS.Website.Feature.Content.Models
@using Synthesis.Mvc.Helpers
@model AdvancedHeadingModel

<div class="hero">
    <div class="hero__img">
        @Html.ImageFor(m => m.AdvancedHeadingItem.Image)
    </div>
    <div class="hero__container">
        <div class="hero__content">
            <div class="container">
                <div class="container--12">
                    <h1>@Html.TextFor(m => m.AdvancedHeadingItem.Headline)</h1>
                </div>
            </div>
        </div>
    </div>
</div>