
@using FOS.Website.Feature.Content.Models
@using Synthesis.Mvc.Helpers
@model AdvancedHeadingModel

<div>
    @Html.TextFor(m => m.AdvancedHeadingItem.Headline)
    @Html.ImageFor(m => m.AdvancedHeadingItem.Image)
</div>