@using Sitecore.Mvc
@using FOS.Website.Feature.Content.Models
@using DynamicPlaceholders.Mvc.Extensions
@using Sitecore.Configuration
@using Sitecore.Links
@using Sitecore.Mvc.Presentation
@using Synthesis.Mvc.Extensions
@using Synthesis.Mvc.Helpers
@model AutoCompleteModuleModel

@if (@Model == null)
{
    
    return;
}

<div class="autocomplete container--relative" id="autocomplete">
    <div class="autocomplete--container">
        @*TODO: Add labels for messages for autocomplete*@
        <div class="autocomplete--content"
             data-js-autocomplete-error="Vi kan inte hitta det du letar efter tyvärr!"
             data-js-autocomplete-area="Område"
             data-js-autocomplete-trainingcenter-one="träningsställe"
             data-js-autocomplete-trainingcenter-more="träningsställen"
             data-js-autocomplete-show-all="Visa alla">
            <h2 class="color--primary heading-1 margin-bottom--space">@Model.AutoCompleteModuleItem.Headline.Render()</h2>
            <p>@Model.AutoCompleteModuleItem.Introduction.Render()</p>
            <label class="hidden--accessible" for="find-association">Hitta din träningslust</label>
            <input class="autocomplete__input" type="text" id="find-association" name="find-association" placeholder="@Model.label_InputFieldBackground" data-js-autocomplete/>
        </div>
    </div>
</div>
