
@using FOS.Website.Feature.Content.Models
@using Synthesis.Mvc.Helpers
@model BasicContentModel

<div>
    @Html.TextFor(m => m.BasicContentItem.Headline)
    @Html.ImageFor(m => m.BasicContentItem.Image)
    @Html.TextFor(m => m.BasicContentItem.Introduction)
</div>