@using Sitecore.Mvc
@using DynamicPlaceholders.Mvc.Extensions
@using Sitecore.Mvc.Presentation
@{
    Layout = null;
    //TODO: Make this EE friendly - it seems to go wonky if no images are present
}
<div class="wrapper">
    <div class="collage">
        <div class="collage__row">
            <div class="image image--bottom-right">
                @Html.Sitecore().DynamicPlaceholder("collage-top-left")
            </div>
            <div class="collage__text">
                @Html.Sitecore().DynamicPlaceholder("collage-top-right")
            </div>
        </div>
        <div class="collage__row">
            <div class="collage__text">
                @Html.Sitecore().DynamicPlaceholder("collage-bottom-left")
            </div>
            <div class="image image--top-left">
                @Html.Sitecore().DynamicPlaceholder("collage-bottom-right")
            </div>
        </div>
    </div>
</div>
