
@using FOS.Website.Feature.Content.Models
@using Synthesis.Mvc.Extensions
@using Synthesis.Mvc.Helpers
@model HeadingTrainingCenterModel

@if (Model.HeadingTrainingCenterItem == null)
{
    return;
}

<div class="hero hero--overlay hero--small">
    <div class="hero__img">
        @Model.HeadingTrainingCenterItem.Image.Render()
    </div>
    <div class="hero__container">
        <div class="hero__content">
            <div class="container">
                <div class="container--12 text-align--center">
                    <h1>@Model.TrainingCenterName</h1>
                    <p class="address icon--small icon__pin-map-light">@Model.TrainingCenterAddress</p>
                </div>
            </div>
        </div>
    </div>
</div>