@using Sitecore.Mvc
@using DynamicPlaceholders.Mvc.Extensions
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.WebControls
@using Synthesis.Mvc.Helpers
@model FOS.Website.Feature.Content.Data.IMediaItem
@{
    Layout = null;
    if (Model == null)
    {
        <div>Please configure this.</div>
        return;
    }
}
<div class="image__skew">
    @Html.ImageFor(m => m.Content_Poster, 800, 450)

    @*@Model.Content_LoopingVideo.Href
    <br />
    @Model.Content_Video.Href
    @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
    {
        @Html.HyperlinkFor(m => m.Content_LoopingVideo)
        @Html.HyperlinkFor(m => m.Content_Video)
    }*@
</div>