@using Sitecore.Mvc
@using DynamicPlaceholders.Mvc.Extensions
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.WebControls
@using Synthesis.Mvc.Helpers
@model FOS.Website.Feature.Content.Data.ITeaserItem
@{
    Layout = null;
    if (Model == null)
    {
        <div>Please configure this.</div>
        return;
    }

    string linkText = String.Empty;

    if (Model.Content_TeaserLink != null)
    {
        linkText = Model.Content_TeaserLink.Text;

        if (String.IsNullOrWhiteSpace(linkText) && Model.Content_TeaserLink.TargetItem != null)
        {
            linkText = Model.Content_TeaserLink.TargetItem.DisplayName;
        }
    }
}

    <p>
        <strong>@Html.TextFor(m => m.Content_TeaserTextBold)</strong>
        @Html.TextFor(m => m.Content_TeaserTextNormal)
    </p>
    @using(Html.BeginHyperlinkFor(m => m.Content_TeaserLink))
    {
        @linkText <span class="btn btn--icon btn--icon--small"></span>
    }
