@using System.Text
@using FOS.Website.Feature.ContentBlocks.Models
@using Synthesis.Mvc.Extensions
@using Synthesis.Mvc.Helpers
@using Valtech.Foundation.Helpers
@model VideoModel

@{
    string mediaContainerClass = Model.IsFullSize ? "media-container--16x9" : "media-container--360";
}

@if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <div class="editor-info">
        <p>
            <strong>Fyll i YoutubeID!</strong><br />
            @EncodingHelper.GetRazorViewText("Under dela i Youtube kommer länken som https://youtu.be/YoutubeID")<br />
            <span class="color--primary">https://youtu.be/</span>@Model.VideoIdField.Render()
        </p>
    </div>
}


@if(Model.VideoIdField.HasValue || Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    var highres = "https://i.ytimg.com/vi/" + Model.VideoIdField + "/maxresdefault.jpg";
                    var lowres = "https://i.ytimg.com/vi/" + Model.VideoIdField + "/sddefault.jpg";
                    var defaultThumbnail = "https://i.ytimg.com/vi/" + Model.VideoIdField + "/0.jpg";
                    var videoUrl = defaultThumbnail;

    <div class="media-container @mediaContainerClass media-container__youtube media-container__video" data-js-youtube="@Model.VideoIdField">
        <img class="media-container__media" src="@videoUrl" />
        <div class="icon--large icon__play media-container__control"><span class="hidden--accessible">Spela video</span></div>
    </div>
}

    @* TODO: Add translation to "Spela Video" *@