@using Synthesis.Mvc.Extensions
@using Synthesis.Mvc.Helpers
@model FOS.Website.Feature.ContentBlocks.Models.ContentBlockModelBase

<div class="container">
    <div class="container--12 text-align--center">
        <h2 class="color--primary">@Model.HeadingItem.Heading1.Render()</h2>
    </div>
</div>