@using Sitecore.Mvc
@using DynamicPlaceholders.Mvc.Extensions
@using Sitecore.Mvc.Presentation
@{
    Layout = null;
}
<div style="width: 10%; float: left;"></div>
<div style="width: 40%; float: left;">
    @Html.Sitecore().DynamicPlaceholder("content-50")
</div>
<div style="width: 40%; float: left;">
    @Html.Sitecore().DynamicPlaceholder("content-50")
</div>
<div style="width: 10%; float: left; height: 600px;"></div>