@using Sitecore.Mvc
@using DynamicPlaceholders.Mvc.Extensions
@using Sitecore.Mvc.Presentation
@{
    Layout = null;
}
<div style="width: 100%; float: left; text-align: center; height: 600px;">
    @Html.Sitecore().DynamicPlaceholder("content-full-width")
</div>