/**
* Base variables and function definitions
*
* @section framework
*/

// ---------------------------------------------------------------------------
// Colors

$white: #fff;
$black: #000;

$primary-color-1: #ffca5c; // Yellow
$primary-color-2: #4b2a18; // Brown
$primary-color-3: #2e3b26; // Green

$secondary-color-1: #42474f; // Dark Blue/almost black for icons
$secondary-color-2: #c2c2c2; // Gray for 1px line
$secondary-color-3: #ebebeb; // Light Gray for statusbar
$secondary-color-4: #f9f9f9; // Lightest Gray for decks

$tertiary-color-1: #a8c39a; // Green (light olive green)
$tertiary-color-2: #59879f; // Blue (petroleum blue)

$font-color-1: #42474f; // Typography dark
$font-color-2: #777879; // Typography light


// ---------------------------------------------------------------------------
// Base variables

$base-font-size: 16px;


// ---------------------------------------------------------------------------
// Functions

@function rem($size) {
	$remSize: $size / $base-font-size;
	@return #{$remSize}rem;
}


// ---------------------------------------------------------------------------
// Icons


// Media queries

$mq-tablet-portrait: 500px;
$mq-tablet-horizontal: 768px;
$mq-desktop: 1024px;
$mq-desktop-large: 1280px;
$mq-desktop-xlarge: 1600px;


// ---------------------------------------------------------------------------
// Font stack

$font-serif: 'Georgia', serif;
$font-sans-serif: 'Ministry', sans-serif;
$font-sans-serif-light: 'Ministry-Light', sans-serif;


/*---------------------------------------------------------------------------*/
/*--------------------------- New section Friskis ---------------------------*/
/*---------------------------------------------------------------------------*/


/*
 * Brand Colors
 */
$primary-color: #E31836;        // Friskis Red
$primary-color-light: #FCE7E9;  // Light red
$secondary-color: #48A1DA;      // Blue
$cta-color: #0EC55A;            // Green

$color-menu: #e45563;
$color-menu-98: rgba(221,82,94,0.98);

/*
 * Neutral Colors
 * 1) Neutral color variables use a numbered system to define variables for better maintainability.
 *    "$color-gray-10" means "10% gray", which is a gray closer to white than to black. For more info
 *    read https://medium.com/eightshapes-llc/color-in-design-systems-a1c80f65fa3#.brevrq67p
 */
$color-white: #fff;
$color-black-10: #F5F5F5;
$color-black-30: #CCCCCC;
$color-black-60: #999999;
$color-black-90: #383232;
$color-black: #000;

$color-dim-00: rgba(0,0,0,0);
$color-dim-30: rgba(0,0,0,0.3);
$color-dim-40: rgba(0,0,0,0.4);
$color-dim-50: rgba(0,0,0,0.5);
$color-dim-70: rgba(0,0,0,0.7);

/*
 * Text Colors
 * 1) These are non-linked text colors, such as body copy.
 */
$color-text: $color-black-90;
/*$color-text-subtle: $color-gray-50;*/

/*
 * Heading Colors
 * 1) These are non-linked heading colors, such as h2, h3, etc.
 */
$color-heading: $color-black-90;
/*$color-heading-accent: $color-gray-87;*/

/*
 * Text Link Colors
 * 1) These are for linked text, such as a link found within an article,
 *    navigation link, footer link, etc.
 */

 $color-text-link: $primary-color;

/*
 * Border Colors
 * 1) Border colors are used as decoration or dividers, such as as a seperator
 *    for navigation items, block borders, etc.
 */

/*$color-border: $color-gray-50;*/

/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
$font : "Apercu-Regular", "Helvetica", "Arial", sans-serif;
$font-secondary : "Raleway", sans-serif;
$font-secondary-medium : "Raleway-Medium", sans-serif;
$font-secondary-bold : "Raleway-Bold", sans-serif;

$font-size-small : 0.75rem;
$font-size-small-2 : 0.875rem;
$font-size-med : 1rem;
$font-size-med-2: 1.0625rem;
$font-size-large : 1.4375rem;


/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/

/**
 * Animation Duration
 */
$anim-speed-quick: 0.2s;

/**
 * Animation Easing
 */
$anim-ease: ease;

/*------------------------------------*\
    #BORDERS
\*------------------------------------*/

/**
 * Border Width
 */
$border-med: 2px;
$border-thick: 7px;

/**
 * Border Radius
 */
$border-radius: 6px;

/*------------------------------------*\
    #MIXINS
\*------------------------------------*/

/**
 * FOCUS mixin
 */
 @mixin focus-outline {
    outline: none; // Important for WCAG - remove only if replaced with other visual focus mark.
    @include box-shadow(0, 0, $border-med, 3px, $color-black-90);
 }

/**
 * BOX SHADOW mixin
 */
@mixin box-shadow($offset-h, $offset-v, $radius-blur, $radius-spread, $color ) {
    box-shadow: $offset-h $offset-v $radius-blur $radius-spread $color ;
 }
@mixin box-shadow-inset($offset-h, $offset-v, $radius-blur, $radius-spread, $color ) {
    box-shadow: inset $offset-h $offset-v $radius-blur $radius-spread $color ;
 }
/*------------------------------------*\
    #ICONS
\*------------------------------------*/

$icon-size: rem(44px);
$icon-size-small: rem(24px);
