/**
* Base variables and function definitions
*
* @section layout
*/

main {
    background-color: $color-white;
}

// In order to be able to have a fixed image in the hero area that
// is possible to scroll over
.container--relative {
    position: relative;
}

// ------------ VISABILITY - modifiers ----------- //

.hidden-small {
    display: none;

    @include medium-up {
        display: block;
    }
}
.hidden {
    display: none;
}